<div class="container">
    <div class="row">
        <!-- TH1 -->
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#" class="">
                    <div class="caption">
                        <h4 class="">Ali Kuli Headline</h4>

                        <p class="">
                            Test sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore


                        </p>
                    </div>
                    <img src="http://lorempixel.com/400/300/technics/1/" alt="..." class="img-responsive">
                </a>

            </div>
        </div>
        <!-- TH2 -->
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#" class="">
                    <div class="caption">
                        <h4 class="">Thumbnail Headline</h4>

                        <p class="">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium



                        </p>
                    </div>
                    <img src="http://lorempixel.com/400/300/technics/2/" alt="..." class="img-responsive">
                </a>

            </div>
        </div>
        <!-- TH2 -->
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#" class="">
                    <div class="caption">
                        <h4 class="">Thumbnail Headline</h4>

                        <p class="">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum

                        </p>
                    </div>
                    <img src="http://lorempixel.com/400/300/technics/3/" alt="..." class="img-responsive">
                </a>

            </div>
        </div>
        <!-- TH4 -->
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="">Thumbnail Headline</h4>

                    <p class="">
                        <a href="#" class="label label-default">Open</a>

                    </p>
                </div>
                <img src="http://lorempixel.com/400/300/technics/4/" alt="..." class="img-responsive">
            </div>
        </div>
        <!-- TH5 -->
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="">Thumbnail Headline</h4>

                    <p class="">
                        <a href="#" class="label label-default">Open</a>

                    </p>
                </div>
                <img src="http://lorempixel.com/400/300/technics/5/" alt="..." class="img-responsive">
            </div>
        </div>
        <!-- TH6 -->
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="">Ali Kuli</h4>

                    <p class="">
                        <a href="#" class="label label-default">Open</a>

                    </p>
                </div>
                <img src="http://lorempixel.com/400/300/technics/7/" alt="..." class="img-responsive">
            </div>
        </div>
        <!-- TH6 -->
    </div>
    <!--/row -->
</div>
<!-- end container -->