@model ModelsClassLibrary.ModelsNS.ProductNS.Product



@if (!Model.MenuPathMains.IsNullOrEmpty())
{
    
    <div class="container">
        <div class="form-group">
            @Html.LabelFor(model => model.MenuPathMains, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @foreach (var item in Model.MenuPathMains)
                {
                    @Html.EditorFor(model => item.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter  Actual Weight" } })
                }
            </div>
        </div>

    </div>


    
}


