@model ModelsClassLibrary.ModelsNS.ProductNS.Product


@*<div class="well p-3 m-3">

    <div class="form-group">
        @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(x => x.ParentId,
                                      (@ViewBag.ParentSelectList as IEnumerable<SelectListItem>),
                                      "--- Select Parent ---",
                                      new { @class = "form-control" })
    </div>


</div>*@

