@model ModelsClassLibrary.ModelsNS.ProductNS.Product




@if (!Model.ProductIdentifiers.IsNullOrEmpty())
{
    <div class="well p-3 m-3">
        <div class="form-group">
            <div class="control-label">
                <strong>Identifier</strong>
            </div>
            <div class="well">
                @foreach (var item in Model.ProductIdentifiers)
                {
                    <div class="row">
                        @*@Html.LabelFor(model => item.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.EditorFor(model => item.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter name", disabled = true } })
                        @Html.ValidationMessageFor(model => item.Name, "", new { @class = "text-danger" })
                    </div>

                }
            </div>

        </div>
    </div>

}




