@model ModelsClassLibrary.ModelsNS.ProductNS.Product

<div class="well p-3 w-100">


    @Html.LabelFor(model => model.UomPurchaseId, htmlAttributes: new { @class = "control-label" })
    @Html.DropDownListFor(x => x.UomPurchaseId,
                                                (@Model.SelectListUomPurchase as IEnumerable<SelectListItem>),
                                        "--- Select UoM Purchase ---",
                                        new { @class = "form-control" })
</div>






