@model ModelsClassLibrary.ModelsNS.ProductNS.Product

<div class="well p-3 m-3">


    <div class="form-group">
        @Html.LabelFor(model => model.UomPurchaseId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(x => x.UomPurchaseId,
                                       (@ViewBag.UomPurchaseSelectList as IEnumerable<SelectListItem>),
                                        "--- Select UoM Purchase ---",
                                        new { @class = "form-control" })
    </div>




</div>


