@model ModelsClassLibrary.ModelsNS.FeaturesNS.MenuFeature
@{
    Layout = null;
}

<table class="table table-hover table-striped m-3 table-bordered" >
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    @if (!@Model.MenuPath1s.IsNullOrEmpty())
    {
        int count = 0;
        foreach (var item in @Model.MenuPath1s.OrderBy(x => x.Name))
        {
            count++;
            <tr>
                <td>
                    @count)  @item.FullName()
                    
                </td>
                <td>
                    @Ajax.ActionLink(" ", "DeleteMenuPath1", "MenuFeatures", new { menuFeatureId = Model.Id, menuPath1Id = item.Id }, new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "targetMenu1",

                                },
                                new { @class = "far fa-trash-alt text-danger" })


                </td>
            </tr>
        }
    }
</table>