@model ModelsClassLibrary.ModelsNS.ProductNS.ProductNS.IProduct


<div class="well">


    @Html.Partial(@"_AutomobileVM")
    @Html.Partial(@"~/Views/Products/_FieldsOnlyEditFormat.cshtml")


</div>


















































