@model ModelsClassLibrary.ModelsNS.FeaturesNS.MenuPath1Feature

    <div class="form-horizontal">
        @Html.HiddenFor(x => x.MenuPath1Id)
        @Html.Partial(@"_Name_And_DetailInfo")



     </div>

