@model ModelsClassLibrary.MenuNS.MenuPath1
@using AliKuli.Extentions;

@Html.Partial(@"MenuPathNS/_menuPathFieldsOnlyEditFormat")

<div class="btn-block" >
    <button>Add a New Field</button>    
</div>
