<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-MarketPlace.Web10-3.mdf;Initial Catalog=aspnet-MarketPlace.Web10-3;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\AspDb6.mdf;Initial Catalog=AspDb6;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    
    
    <!--Tool Tips _LoginPartial-->
    <!--User-->

    <add key="menu.person_CashRefundable_AmountOnly" value="{0:N2}" />
    <add key="menu.person_CashRefundable_MenuItem" value="Cash Refundable: {0:N2}" />
    <add key="menu.person_CashRefundable_ToolTip" value="Cash Refundable - You CAN convert {0:N2} to cash" />

    <add key="menu.person_CashNonRefundable_AmountOnly" value="NR: {0:N2}" />
    <add key="menu.person_CashNonRefundable_MenuItem" value="Cash Non-Refundable: {0:N2}" />
    <add key="menu.person_CashNonRefundable_ToolTip" value="Cash NOT Refundable - You CANNOT convert {0:N2} to cash" />


    <add key="menu.person_TotalCash_AmountOnly" value="{0:N2}" />
    <add key="menu.person_TotalCash_MenuItem" value="Total Cash: {0:N2}" />
    <add key="menu.person_TotalCash_ToolTip" value="This is the total cash you own. REFUNDABLE: {0:N2}, and NON REFUNDABLE: {1:N2}" />


    <!--System Cash-->
    <add key="menu.system_Cash_Refundable_MenuItem" value="System Refundable Cash : {0:N2}" />
    <add key="menu.system_Cash_Refundable_ToolTip" value="System Refundable - People CAN convert {0:N2} to cash" />

    <add key="menu.system_Cash_NonRefundable_MenuItem" value="System Non Refundable Cash : {0:N2}" />
    <add key="menu.system_Cash_NonRefundable_ToolTip" value="NOT Refundable - People CANNOT convert {0:N2} to cash" />

    <add key="menu.system_TotalCash_AmountOnly" value="{0:N2}" />
    <add key="menu.system_TotalCash_MenuItem" value="System Total Cash: {0:N2}" />
    <add key="menu.system_TotalCash_ToolTip" value="This is the system cash people own. REFUNDABLE: {0:N2}, and NON REFUNDABLE: {1:N2}" />

    
    <!--System Sale Orders-->
    <add key="menu.system_OpenSaleOrders_MenuItem" value="System Open Orders: {0:N2} ({1})" />
    <add key="menu.system_OpenSaleOrders_ToolTip" value="System Open Orders. System has {0} open orders valued: {1:N2}. One order can have several or one item. These orders can still be changed." />

    <add key="menu.system_CanceledSaleOrders_MenuItem" value="System Canceled Orders: {0:N2} ({1})" />
    <add key="menu.system_CanceledSaleOrders_ToolTip" value="System Canceled Orders. System has {0} canceled orders valued: {1:N2}. These orders cannot be changed. The system considers them to be closed." />

    
    <add key="menu.system_InProccessSaleOrders_MenuItem" value="System In Proccess Orders: {0} ({1})" />
    <add key="menu.system_InProccessSaleOrders_ToolTip" value="System has {0} IN PROCCESS orders valued: {1}. These cannot be changed without suppliers approval" />
    
    <add key="menu.system_BackSaleOrders_MenuItem" value="System Back Orders: {0} ({1})" />
    <add key="menu.system_BackSaleOrders_ToolTip" value="System  has {0} in BACK ORDERS valued: {1}. Your supplier has failed to deliver some items in these orders. You may cancel these orders." />
    
    
    <add key="menu.system_ClosedSaleOrders_MenuItem" value="System Closed Orders: {0} ({1})" />
    <add key="menu.system_ClosedSaleOrders_ToolTip" value="System  has {0} in CLOSED ORDERS valued: {1}. They will not be proccessed anymore. They are deemed to be complete by the system." />


    <!--System Purchase Orders-->
    <add key="menu.system_OpenPurchaseOrders_MenuItem" value="System Open Purchase Orders: {0:N2} ({1})" />
    <add key="menu.system_OpenPurchaseOrders_ToolTip" value="System Open Purchase Orders. System has {0} open orders valued: {1:N2}. One order can have several or one item. These orders can still be changed." />

    <add key="menu.system_CanceledPurchaseOrders_MenuItem" value="System Canceled Orders: {0:N2} ({1})" />
    <add key="menu.system_CanceledPurchaseOrders_ToolTip" value="System Canceled Orders. System has {0} canceled orders valued: {1:N2}. These orders cannot be changed. The system considers them to be closed." />


    <add key="menu.system_InProccessPurchaseOrders_MenuItem" value="System In Proccess Orders: {0} ({1})" />
    <add key="menu.system_InProccessPurchaseOrders_ToolTip" value="System has {0} IN PROCCESS orders valued: {1}. These cannot be changed without suppliers approval" />

    <add key="menu.system_BackPurchaseOrders_MenuItem" value="System Back Orders: {0} ({1})" />
    <add key="menu.system_BackPurchaseOrders_ToolTip" value="System has {0} in BACK ORDERS valued: {1}. Your supplier has failed to deliver some items in these orders. You may cancel these orders." />


    <add key="menu.system_ClosedPurchaseOrders_MenuItem" value="Closed Orders: {0} ({1})" />
    <add key="menu.system_ClosedPurchaseOrders_ToolTip" value="You have {0} in CLOSED ORDERS valued: {1}. They will not be proccessed anymore. They are deemed to be complete by the system." />

    <!--person sale orders-->

    <add key="menu.person_OpenSaleOrders_MenuItem" value="Open Orders: {0:N2} ({1})" />
    <add key="menu.person_OpenSaleOrders_ToolTip" value="Open Orders. You have {0} open orders valued: {1:N2}. One order can have several or one item. These orders can still be changed." />

    <add key="menu.person_CanceledSaleOrders_MenuItem" value="Canceled Orders: {0:N2} ({1})" />
    <add key="menu.person_CanceledSaleOrders_ToolTip" value="Canceled Orders. You have {0} canceled orders valued: {1:N2}. These orders cannot be changed. The system considers them to be closed." />


    <add key="menu.person_InProccessSaleOrders_MenuItem" value="In Proccess Orders: {0} ({1})" />
    <add key="menu.person_InProccessSaleOrders_ToolTip" value="You have {0} IN PROCCESS orders valued: {1}. These cannot be changed without suppliers approval" />

    <add key="menu.person_BackSaleOrders_MenuItem" value="Back Orders: {0} ({1})" />
    <add key="menu.person_BackSaleOrders_ToolTip" value="You have {0} in BACK ORDERS valued: {1}. Your supplier has failed to deliver some items in these orders. You may cancel these orders." />


    <add key="menu.person_ClosedSaleOrders_MenuItem" value="Closed Orders: {0} ({1})" />
    <add key="menu.person_ClosedSaleOrders_ToolTip" value="You have {0} in CLOSED ORDERS valued: {1}. They will not be proccessed anymore. They are deemed to be complete by the system." />


    <!--Person Purchase Orders-->

    <add key="menu.person_OpenPurchaseOrders_MenuItem" value="Open Orders: {0:N2} ({1})" />
    <add key="menu.person_OpenPurchaseOrders_ToolTip" value="Open Orders. You have {0} open orders valued: {1:N2}. One order can have several or one item. These orders can still be changed." />

    <add key="menu.person_CanceledPurchaseOrders_MenuItem" value="Canceled Orders: {0:N2} ({1})" />
    <add key="menu.person_CanceledPurchaseOrders_ToolTip" value="Canceled Orders. You have {0} canceled orders valued: {1:N2}. These orders cannot be changed. The system considers them to be closed." />


    <add key="menu.person_InProccessPurchaseOrders_MenuItem" value="In Proccess Orders: {0} ({1})" />
    <add key="menu.person_InProccessPurchaseOrders_ToolTip" value="You have {0} IN PROCCESS orders valued: {1}. These cannot be changed without suppliers approval" />

    <add key="menu.person_BackPurchaseOrders_MenuItem" value="Back Orders: {0} ({1})" />
    <add key="menu.person_BackPurchaseOrders_ToolTip" value="You have {0} in BACK ORDERS valued: {1}. Your supplier has failed to deliver some items in these orders. You may cancel these orders." />


    <add key="menu.person_ClosedPurchaseOrders_MenuItem" value="Closed Orders: {0} ({1})" />
    <add key="menu.person_ClosedPurchaseOrders_ToolTip" value="You have {0} in CLOSED ORDERS valued: {1}. They will not be proccessed anymore. They are deemed to be complete by the system." />

    <!--Company related-->
    <add key="DefaultCompanyName" value="Nida.com" />
    <add key="CompanyAddressRelated" value="Kara Proprietorshop, Gulkali, Main Harbanspura road, Lahore, Pakistan." />
    
    
    <!-- ADMIN Related-->
    <add key="AdminUserPhone" value="3355589345" />
    <add key="AdminEmail" value="alikuli@gmail.com" />
    <add key="AdminPassword" value="@liKuli786!" />
    <add key="AdminCountry" value="Pakistan" />
    <add key="AdminName" value="Admin" />
    <add key="AdministerRole" value="Administrator" />
    <add key="AdminCountryAbbreviation" value="PK" />
    
    
    <!-- Players Related-->
    <add key="NumberOfUnitsRqrdForSettingUpServiceMan" value="100" />
    <add key="NumberOfUnitsRqrdForSettingUpCustomer" value="1000" />
    <add key="DefaultLengthOfScratchCardPinNumber" value="16" />
    <add key="DefaultOrderDeliveryTimeInNoOfDays" value="5" />

    
    <!-- SMTP Related-->
    <add key="Smtp_Domain" value="Nida.com" />
    <add key="Smtp_Password" value="Nid@786!" />
    <add key="Smtp_Port" value="587" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="Smtp_User" value="alikuli62" />
    <add key="IsSmtpSelectedService" value="true" />
    <add key="DefaultScractchCardBatchSize" value="100" />
    <add key="fromEmailAddress" value="alikuli62@gmail.com" />
    
    
    <!-- TESTING Related-->
    <add key="EmailTestingDirectory" value="C:\" />
    <add key="SmsTestingDirectory" value="C:\" />
    <add key="DefaultPageSize" value="20" />
    <add key="Encrypt" value="true" />
    <add key="AlwaysSendBcc" value="true" />
    <add key="WebsiteAnchorLink" value="Nida.com" />
    <add key="IsVerbose" value="true" />
    <add key="IsEncrypted" value="false" />
    <add key="IsForceInitialization" value="false" />
  
    <!-- Verification Related-->
    <add key="Verified" value="~/ContentMine/Icons/VerificationIcons/Verified.png" />
    <add key="NotVerified" value="~/ContentMine/Icons/VerificationIcons/NotVerified.png" />
    <add key="InProccess" value="~/ContentMine/Icons/VerificationIcons/InProccess.png" />
    <add key="Mailed" value="~/ContentMine/Icons/VerificationIcons/Mailed.png" />
    <add key="Printed" value="~/ContentMine/Icons/VerificationIcons/Printed.png" />
    <add key="Requested" value="~/ContentMine/Icons/VerificationIcons/Requested.png" />
    <add key="Failed" value="~/ContentMine/Icons/VerificationIcons/Failed.png" />

    <add key="StarIcon" value="~/ContentMine/Icons/Default2.png" />
    <add key="BlankPicture" value="~/ContentMine/MyImages/BlankImage.jpg " />


    <!-- Verification Letter Related-->
    <add key="letter_title" value="Verification Request" />
    <add key="letter_welcome_para" value="Welcome to verification! Thank you for verifying your address. You will reap great benfits from this!" />
    <add key="letter_body" value="With a verified address people will feel safer to do business with you. You can sell or buy easier. People will trust you. Will not show your address on the screen. It can only be used to get or send orders." />
    <add key="letter_instruction_para" value="Log in to you account. The instructions are longer than this but I don't know what to write now. So I am just adding stuff to see how everything will turn out. Then go To Verification and enter the verification number listed below:" />
    
    <add key="summary_title" value="Verification Summary" />
    <add key="summary_welcome_para" value="Welcome to the Summary" />
    <add key="summary_body" value="Summary" />
    <add key="summary_instruction_para" value="You will need to go to the post office and mail these immediately. We have recorded the print date and the delivery time has started to tick. Once the window for the delivery time closes, you will not get paid for the mail. So please, mail immediaely!" />
    
    
    
    <!-- Mailer Trust LevelRelated-->
    <add key="MailQtyLvl1_Postal" value="100" />
    <add key="MailQtyLvl2_Postal" value="500" />
    <add key="MailQtyLvl3_Postal" value="1000" />
    <add key="MailQtyLvl4_Postal" value="2000" />
    <add key="MailQtyLvl5_Postal" value="5000" />
    
    <add key="MailQtyLvl1_Courier" value="10" />
    <add key="MailQtyLvl2_Courier" value="50" />
    <add key="MailQtyLvl3_Courier" value="100" />
    <add key="MailQtyLvl4_Courier" value="200" />
    <add key="MailQtyLvl5_Courier" value="500" />
    
    <!--This is the amount that has to be deposited to become a mailer of this trust level-->

    <add key="MailQtyLvl1_Postal_Deposit_Paksitan" value="1000.00" />
    <add key="MailQtyLvl2_Postal_Deposit_Paksitan" value="5000.00" />
    <add key="MailQtyLvl3_Postal_Deposit_Paksitan" value="10000.00" />
    <add key="MailQtyLvl4_Postal_Deposit_Paksitan" value="20000.00" />
    <add key="MailQtyLvl5_Postal_Deposit_Paksitan" value="50000.00" />

    <add key="MailQtyLvl1_Courier_Deposit_Paksitan" value="1000.00" />
    <add key="MailQtyLvl2_Courier_Deposit_Paksitan" value="5000.00" />
    <add key="MailQtyLvl3_Courier_Deposit_Paksitan" value="10000.00" />
    <add key="MailQtyLvl4_Courier_Deposit_Paksitan" value="20000.00" />
    <add key="MailQtyLvl5_Courier_Deposit_Paksitan" value="50000.00" />

    <add key="MailQtyLvl1_Postal_Deposit_Foreign" value="1000.00" />
    <add key="MailQtyLvl2_Postal_Deposit_Foreign" value="5000.00" />
    <add key="MailQtyLvl3_Postal_Deposit_Foreign" value="10000.00" />
    <add key="MailQtyLvl4_Postal_Deposit_Foreign" value="20000.00" />
    <add key="MailQtyLvl5_Postal_Deposit_Foreign" value="50000.00" />

    <add key="MailQtyLvl1_Courier_Deposit_Foreign" value="1000.00" />
    <add key="MailQtyLvl2_Courier_Deposit_Foreign" value="5000.00" />
    <add key="MailQtyLvl3_Courier_Deposit_Foreign" value="10000.00" />
    <add key="MailQtyLvl4_Courier_Deposit_Foreign" value="20000.00" />
    <add key="MailQtyLvl5_Courier_Deposit_Foreign" value="50000.00" />

    <add key="NumberOfOpenMailingsAllowed" value="3" />
    <add key="MailSuccessPercentage" value="95" /> <!-- use 5 to denote 5%-->
    
    <add key="number_of_days_allowed_for_local_post" value="30" /> <!-- The amount of time allowed for mail to be delivered -->
    <add key="number_of_days_allowed_for_local_courier" value="5" /> <!-- The amount of time allowed for mail to be delivered -->

    <add key="number_of_days_allowed_for_foreign_post" value="50" /> <!-- The amount of time allowed for mail to be delivered -->
    <add key="number_of_days_allowed_for_foreign_courier" value="12" /><!-- The amount of time allowed for mail to be delivered -->

    
    <!--These are the costs we sell these services-->

    <add key="Sale_Courier_International" value="3000.00" />
    <add key="Sale_Postal_International" value="300.00" />
    <add key="Sale_Courier_Local" value="500.00" />
    <add key="Sale_Postal_Local" value="200.00" />
    
    <!--This is the budgeted amount for analysis-->
    <add key="Budgeted_Cost_Courier_International" value="1000.00" />
    <add key="Budgeted_Cost_Postal_International" value="1000.00" />
    <add key="Budgeted_Cost_Courier_Local" value="200.00" />
    <add key="Budgeted_Cost_Postal_Local" value="40.00" />


  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <!--Increase the max size of the upload file-->
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>