
@{
    ViewBag.Title = "Salesman Request Submitted";
}

<h2 class="text-center">Salesman Request Submitted</h2>

<h3 class="text-center">
    You have made a great decision.
</h3>


<p class="text-center">
    You need to learn the following things to become a good salesman. The harder you work, the more you make!
</p>
<ol class="text-center">
    <li>
        How to help create a product.
    </li>
    <li>
        Keep your customers well stocked with tokens.
    </li>
    <li>
        Help your customers.
    </li>

</ol>

<p>
    You will be contacted shortly by a super salesman who will guide you through the whole proccess.
</p>

