@model ModelsClassLibrary.ModelsNS.CashNS.CashTrxNS.CashPaymentModel


    <div class="form-horizontal">
        <h2>@Model.CashTypeEnum.ToString()</h2>
        @Html.Partial("_makePayment")
    </div>

