@model ModelsClassLibrary.ModelsNS.DocumentsNS.BuySellItemNS.BuySellItem



@{
    ModelsClassLibrary.ModelsNS.DocumentsNS.BuySellDocNS.BuySellDocViewStateNS.IBuySellDocViewState viewState_DelyButton = Model.BuySellDocViewState;

    bool show_Button_DelyButton = viewState_DelyButton.OD_Show_Button_DelyButton;
    bool enable_Button_DelyButton = viewState_DelyButton.OD_Enable_Button_DelyButton;
    string returnUrl = ViewBag.ReturnUrl_Edit as string;

}




@if (show_Button_DelyButton)
{
    if (enable_Button_DelyButton)
    {
        <button class="btn btn-lg btn-success m-1" type="submit">Save</button>
        <a class="btn btn-lg btn-danger m-1" href="@returnUrl" role="button">Back To List</a>
    }
    else
    {
        <button class="btn btn-lg btn-success m-1" type="submit" disabled>Save</button>
    <a class="btn btn-lg btn-danger m-1" href="@returnUrl" role="button">Back To List</a>

    }

}

