@*https://getbootstrap.com/docs/4.0/components/breadcrumb/*@

@*@model ModelsClassLibrary.ViewModels.IndexListVM*@
@model ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.IHaveMenuManager


    @{

        string menuPathMainId = Model.MenuManager.MenuPathMainId;
        string productId = Model.MenuManager.ProductId;
        string productChildId = Model.MenuManager.ProductChildId;
        string returnUrl = Model.MenuManager.ReturnUrl;
        string selectId = Model.MenuManager.SelectId;
        string searchFor = Model.MenuManager.SearchString;
        SortOrderENUM sortBy = Model.MenuManager.SortOrderEnum;

        MenuLevelENUM menuLevelEnum = MenuLevelENUM.Level_4;
        string linkTextMenuPath4 = Model.MenuManager.MenuPath5Name;
    }

    @if (Model.MenuManager.IsMenu)
    {

        <li class="breadcrumb-item">@Html.ActionLink(linkTextMenuPath4, "Index", new { menuLevelEnum = menuLevelEnum, searchFor = searchFor, selectedId = selectId, sortBy = sortBy, id = "", menuPathMainId = menuPathMainId, productId = productId, productChildId = productChildId, returnUrl = returnUrl }) </li>
    }

