@model ModelsClassLibrary.ModelsNS.PlacesNS.Country

<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.Abbreviation, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Abbreviation, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Abbreviation, "", new { @class = "text-danger" })
    </div>


    @Html.Partial(@"_Name_And_DetailInfo")



    


</div>

